<div class="spotlight job">
    <h3 class="box-title center">Company Spotlight</h3>
    <div class="inside">
        <div class="big-logo center">
            <a ng-href="#/agency/{{agency.id}}">
                <img ng-src="{{agency.url_logo}}" alt="{{agency.name}}"/>
            </a>
        </div>
        <div class="short-description">
            <div>{{agency.brief_desc | htmlToPlainText}}</div>
        </div>
        <div class="more-jobs">
            <h4>Jobs from <a ng-href="#/agency/{{agency.id}}">{{agency.name}}</a></h4>
            <div class="job-link" ng-repeat="job in jobs">
                <a ng-href="#/job/{{job.id}}"><span class="links"></span>{{job.title}}</a>
            </div>
        </div>
    </div>
</div>