<!-- NAVIGATION -->

<div id="header" class="header">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="fa fa-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/logo_h.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#/new-jobs/job"><span class="fa fa-briefcase"></span> Jobs</a></li>
                    <li><a href="#/agencies"><span class="fa fa-send"></span> Agencies</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="userRole === -1">
                    <li><a href="#/login"><i class="fa fa-sign-in"></i> Register/Login</a></li>
                    <li><a href="#/register/agency"><i class="fa fa-plus"></i> Post Jobs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="userRole > -1">
                    <li class="dropdown noti" ng-if="userRole === 1">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                          <span class="fa fa-lg fa-bell"></span>
                          <span ng-show="listNotis.length" class="number">{{listNotis.length}}</span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><h3 class="dropdown-title">Notification</h3></li>
                            <li ng-repeat="noti in listNotis">
                              <a ng-href="{{noti.url}}"><i class="fa fa-info-circle fa-fw"></i>{{noti.title}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle user-toggle" data-toggle="dropdown" role="button">
                          <span class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle"></i>
                            <i class="fa fa-stack-1x fa-user fa-inverse"></i>
                          </span>
                          {{userName}}
                          <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu" ng-if="userRole === 1">
                            <li><h3 class="dropdown-title">Dashboard</h3></li>
                            <li ng-repeat="menu in dropdownMenu">
                              <a ng-href="{{menu.url}}">
                                <i class="{{menu.icon}}"></i>
                                {{menu.title}}
                              </a>
                            </li>
                            <li>
                              <a href="#" ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Sign Out
                              </a>
                            </li>
                        </ul>
                        <ul class="dropdown-menu" ng-if="userRole !== 1">
                            <li ng-if="userRole === 2">
                                <a ui-sref="app.home.message({type: 'banned'})">Support</a>
                            </li>
                            <li ng-if="userRole === 0">
                                <a ui-sref="app.home.message({type: 'support'})">Support</a>
                            </li>
                            <li>
                              <a href="#" ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Sign Out
                              </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>

        </div>
    </nav>
</div>

<div ui-view>

</div>
