<!-- NAVIGATION -->

<div id="header" class="header">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#">B-Kareer</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#/new-jobs/job"><span class="glyphicon glyphicon-briefcase"></span> Jobs</a></li>
                    <li><a href="#/new-jobs/internship"><span class="glyphicon glyphicon-send"></span> Internship</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!userRole">
                    <li><a href="#/register"><i class="fa fa-pencil-square"></i> Register</a></li>
                    <li><a href="#/register"><i class="fa fa-sign-in"></i> Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown noti">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                          <span class="fa fa-lg fa-bell"></span>
                          <span class="number">2</span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><h3 class="dropdown-title">Thông Báo Chung</h3></li>
                          <li>
                            <a href="#"><i class="fa fa-info-circle fa-fw"></i> Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                          </li>
                          <li>
                            <a href="#">Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                          </li>
                          <li>
                             <a href="#">Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle user-toggle" data-toggle="dropdown" role="button">
                          <span class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle"></i>
                            <i class="fa fa-stack-1x fa-user fa-inverse"></i>
                          </span>
                          {{userRole}}
                          <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><h3 class="dropdown-title">Dashboard</h3></li>
                            <li ng-repeat="menu in dropdownMenu">
                              <a ng-href="{{menu.url}}">
                                <i class="{{menu.icon}}"></i>
                                {{menu.title}}
                              </a>
                            </li>
                            <li>
                              <a href="#" ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Sign Out
                              </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>

<div ui-view>

</div>
