<div class="container main">

    <div ui-view>
        <div ng-if="!hasThumbImages" class="row agency-images">
            <ng-gallery class="col-md-12" thumb-class="thumb-center img-responsive" images="agency.url_imgs || []"></ng-gallery>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-push-4">
                <div class="job box-hover">
                    <div class="box-heading">
                        <h1 class="title">{{job.title}}</h1>
                        <div class="tag-line">
                            <ul>
                                <li ng-repeat="tagJob in job.tags">
                                    <a ng-href="#/search?tags={{tagJob}}" class="label label-info">{{tagJob}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="salary">
                            <span>Salary:</span>
                            <span class="value">{{job.salary}}</span>
                        </div>
                        <div class="location">
                            <span >{{job.location.city + ", " + job.location.district + ", " + job.location.address}}</span>
                            <span class="flag-icon icon icon-location"></span>
                            <span class="links">
                                <a ng-href="https://www.google.com/maps/search/{{job.location}}, Vietnam">See Map</a>
                            </span>
                        </div>
                        <div class="expire">
                            <p>Expire on <strong>{{job.expire_date}}</strong></p>
                        </div>
                        <div ng-if="applyButtonVisible" class="apply-button">
                            <a ui-sref="app.home.job.application({job_id: job.id})" class="btn btn-action btn-lg btn-larger">
                                Apply Now
                            </a>
                            <button ng-click="addSaved()"  class="btn btn-default btn-lg btn-larger">
                                Interested
                            </button>
                        </div>

                    </div>


                    <div class="job-detail">
                        <div class="job-desc">
                            <h2 class="title">The Job</h2>
                            <div ng-bind-html="job.full_desc | html">
                            </div>
                        </div>
                        <div class="requirement">
                            <h2 class="title">Your Skills and Experience</h2>
                            <div ng-bind-html="job.requirement | html">
                            </div>
                        </div>
                        <div class="benefit">
                            <h2 class="title">Why You'll Love Working Here</h2>
                            <div ng-bind-html="job.benifits | html">
                            </div>
                        </div>
                        <div ng-if="applyButtonVisible" class="apply-button">
                            <a ui-sref="app.home.job.appliation({job_id: job.id})" class="btn btn-action btn-lg btn-larger">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-md-pull-8">
                <div class="panel agency-brief box-hover">
                    <div class="panel-heading">
                        <div class="logo">
                            <a href="#/agency/info">
                                <img ng-src="{{agency.url_logo}}" alt="agency.name"/>
                            </a>

                        </div>
                    </div>
                    <div class="panel-body">
                        <h2 class="center">{{ agency.name }}</h2>
                        <p class="text-strong-1">{{ agency.brief_desc }}</p>
                        <div class="text-strong-2">
                            <span class="glyphicon glyphicon-user"></span> &nbsp;{{agency.num_staffs}}
                        </div>
                        <div class="text-strong-2">
                            <span class="flag-icon flag-icon-small flag-icon-vn"></span> &nbsp;{{agency.country}}
                        </div>
                        <div class="employer-jobs links">
                            <a href="#/ageny/jobs">{{agency.num_jobs}} Jobs </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="links">
                            <a href="#/agency/info"> View our company page </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="row related-jobs">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <job-grid class="job-grid" jobs="relatedJobs"></job-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

