<div class="container">
    <search-box search-bar-data="searchBarData"
                cities="locations"
                popular-tags="popularTags"
                on-search-btn-click="doSearch(params)">
    </search-box>
</div>
<div id="jobs" class="container">
    <div class="row">
        <div class="col-md-8">
            <job-grid class="job-grid" jobs="jobs"></job-grid>
        </div>
        <div class="col-md-4">
            Ads
        </div>
    </div>
    <div class="section">
        <div class="center">
            <button ng-show="jobs.length > 0" ng-click="loadMore()" ladda="loadingMore" class="btn btn-action btn-lg">Show More</button>
        </div>
    </div>
</div>