<div class="register-page">
    <div class="container main">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="box" ng-if="userType === 'agency'">
                    <div class="box-heading" style="background-image: url('/assets/images/jobs_banner.jpg')">
                        <div class="jumbotron agency-greeting">
                            <p>Contact us!</p>
                            <p>We love meeting new people. :)</p>
                        </div>
                    </div>
                    <div class="box-body box-padding">
                        <form class="form-horizontal" name="register">
                            <div class="form-group">
                                <label class="col-xs-12 col-md-4" for="cname">Company Name:</label>
                                <div class="col-xs-12 col-md-8">
                                    <input type="text" id="cname" name="cname" class="form-control" ng-model="company.name" required/>
                                    <p class="help-block" ng-show="register.cname.$invalid && register.cname.$touched">Can't be blank</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-md-4" for="cwebsite">Company Website:</label>
                                <div class="col-xs-12 col-md-8">
                                    <input type="text" id="cwebsite" name="cwebsite" class="form-control" ng-model="company.website" />
                                    <p class="help-block" ng-show="register.cwebsite.$invalid && register.cwebsite.$touched">Can't be blank</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-md-4" for="city">City:</label>
                                <div class="col-xs-12 col-md-8">
                                    <select ng-model="company.city" id="city" name="city"
                                            ng-options="city.name for city in locations">                                            
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-md-4" for="yname">Your Name:</label>
                                <div class="col-xs-12 col-md-8">
                                    <input type="text" id="yname" name="yname" class="form-control" ng-model="company.personal.name" required/>
                                    <p class="help-block" ng-show="register.yname.$invalid && register.yname.$touched">Can't be blank</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-md-4" for="ytitle">Your Title:</label>
                                <div class="col-xs-12 col-md-8">
                                    <input type="text" id="ytitle" name="ytitle" class="form-control" ng-model="company.personal.title" required/>
                                    <p class="help-block" ng-show="register.ytitle.$invalid && register.ytitle.$touched">Can't be blank</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-md-4" for="yemail">Your Email:</label>
                                <div class="col-xs-12 col-md-8">
                                    <input type="email" id="yemail" name="yemail" class="form-control" ng-model="company.personal.email" required/>
                                    <p class="help-block" ng-show="register.yemail.$invalid && register.yemail.$touched">Can't be blank</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 col-md-4" for="yphone">Your Phone:</label>
                                <div class="col-xs-12 col-md-8">
                                    <input type="text" id="yphone" name="yphone" class="form-control" ng-model="company.personal.phone" required/>
                                    <p class="help-block" ng-show="register.yphone.$invalid && register.yphone.$touched">Can't be blank</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-4 col-md-offset-4">
                                    <button class="btn btn-action btn-lg btn-block" ng-click="send()">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="box" ng-if="userType === 'candidate'">
                    <div class="jumbotron candidate-greeting">
                        <p>Register Member</p>
                    </div>
                    <div class="social">
                        <h4>Register Quickly With</h4>
                        <ul>
                            <li> 
                                <a ladda="fbLoading" fb-login ng-click="onSubmit({data: {}, type: \'FACEBOOK\'})" class="facebook">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a ladda="gLoading" g-login ng-click="onSubmit({data: {}, type: \'GOOGLE\'})" class="google-plus">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form name="registerForm">
                        <div class="input-field">
                            <label for="email">Email <i style="color: red">*</i></label>
                            <input ng-model="registerData.email" id="email" type="email" name="email" required placeholder="email"/>
                            <p class="help-block" ng-show="!registerForm.email.$valid && registerForm.email.$touched">Email is invalid</p>
                            <label for="firstname">First name</label>
                            <input ng-model="registerData.firstname" id="firstname" type="text" name="firstname" placeholder="first name">
                            <label for="lastname">Last name</label>
                            <input ng-model="registerData.lastname" id="lastname" type="text" name="lastname" placeholder="last name">
                            <label for="password">Password <i style="color: red">*</i></label> 
                            <input ng-model="registerData.password" id="password" type="password" name="password" placeholder="password" ng-minlength="6" required/>
                            <p class="help-block" ng-show="registerForm.password.$error.minlength">Password is at least 6 characters</p>

                            <button ladda="registerLoading" ng-click="registerSubmit(registerForm.$valid)" class="btn-signup" ng-disabled="registerForm.$invalid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>