<div class="row">
    <div class="col-xs-12">
        <h1 class="title">Create Your Profile</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="box box-padding">
            <agency-profile locations="locations"
                            tags="tags",
                            company_sizes="companySizes"
                            company_types="companyTypes"
                            profile="profile"
                            on-submit="save(profile)"></agency-profile>
        </div>
    </div>
</div>