<div class="row">
    <div class="col-xs-12">
        <h1 class="title">Agency Profile</h1>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="box">
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="agency-logo">
                        <img class="img-responsive" src="https://itviec.com/system/production/employers/logos/884/m_service-logo-65-65.png?1462520061" alt="Agency Logo"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10">

                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="box-title">Company Name</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p class="company-address">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span>Company Address</span>
                            </p>
                            <p class="company-phone">
                                <span class="glyphicon glyphicon-earphone"></span>
                                <span>0876388987</span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p class="company-email">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span>company@gmail.com</span>
                            </p>
                            <p>
                                <span>Active</span>
                                <input type="checkbox" checked disabled/>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="box">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="box-title">User Account</h3>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>
                        <span>Username: </span> <span class="text-bold">agency</span>
                    </p>
                    <p>
                        <span>Account Type: </span> <span class="text-bold">External</span>
                    </p>
                    <p>
                        <span>Last login: </span> <span class="text-bold">2016/05/12</span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>
                        <span>Creation date: </span> <span class="text-bold">2014/02/02</span>
                    </p>
                    <p>
                        <span>Last password change date: </span> <span class="text-bold">2015/06/24</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="box form-horizontal">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="box-title">Edit Personnel</h3>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">Type</label>
                        <div class="col-xs-8 col-sm-7">
                            <select class="form-control">
                                <option value="0">Manager</option>
                                <option value="1">Moderator</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">Title</label>
                        <div class="col-xs-8 col-sm-7">
                            <select class="form-control">
                                <option value="0">Dr</option>
                                <option value="1">Ms</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">First name</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">Last name</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">Business Phone</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" value="0863939838" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">Mobilephone</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" value="0972156709" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">Email</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" value="vinh@gmail.com" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-5">Active</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="checkbox" checked disabled/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


