<!-- NAVIGATION -->

<div id="header" class="header">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#/home">B-Kareer</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#/new-jobs/job"><span class="glyphicon glyphicon-briefcase"></span> Jobs</a></li>
                    <li><a href="#/new-jobs/internship"><span class="glyphicon glyphicon-send"></span> Internship</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown noti">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="fa fa-lg fa-bell"></span>
                        <span class="number">2</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><h3 class="dropdown-title">Thông Báo</h3></li>
                        <li>
                          <a href="#"><i class="fa fa-info-circle fa-fw"></i> Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                        </li>
                        <li>
                          <a href="#">Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                        </li>
                        <li>
                           <a href="#">Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle user-toggle" data-toggle="dropdown" role="button">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-stack-2x fa-circle"></i>
                            <i class="fa fa-stack-1x fa-user fa-inverse"></i>
                          </span>
                          {{username}}
                          <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                              <a href="#/dashboard/job">
                                <i class="fa fa-briefcase"></i>
                                Job
                              </a>
                            </li>
                            <li>
                              <a href="#/dashboard/files">
                                <i class="fa fa-file"></i>
                                Files
                              </a>
                            </li>
                            <li>
                              <a href="#/dashboard/profile">
                                <i class="fa fa-pencil-square"></i>
                                Profile
                              </a>
                            </li>
                            <li>
                              <a href="#" ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Sign Out
                              </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>



<!--Search View State Here-->
<div ui-view>

</div>

<!--
<div class="container">
    <search-box search-bar-data="searchBarData"
                cities="cities"
                on-search-btn-click="doSearch(params)">

    </search-box>
</div>
<div id="jobs" class="container">
    <div class="row">
        <div class="col-md-8">
            <job-grid class="job-grid" jobs="jobs"></job-grid>
        </div>
        <div class="col-md-4">
            Ads
        </div>
    </div>

</div>-->
