<!-- NAVIGATION -->

<div id="header" class="header">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#/home">B-Kareer</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#/new-jobs/job"><span class="glyphicon glyphicon-briefcase"></span> Jobs</a></li>
                    <li><a href="#/new-jobs/internship"><span class="glyphicon glyphicon-send"></span> Internship</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span> </a></li>
                    <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span> Dashboard
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/dashboard/job">Job</a></li>
                            <li><a href="#/dashboard/internship">Internship</a></li>
                            <li><a href="#/dashboard/files">Files</a></li>
                        </ul>

                    </li>
                    <li><a class="logout" href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>



<!--Search View State Here-->
<div ui-view>

</div>

<!--
<div class="container">
    <search-box search-bar-data="searchBarData"
                cities="cities"
                on-search-btn-click="doSearch(params)">

    </search-box>
</div>
<div id="jobs" class="container">
    <div class="row">
        <div class="col-md-8">
            <job-grid class="job-grid" jobs="jobs"></job-grid>
        </div>
        <div class="col-md-4">
            Ads
        </div>
    </div>

</div>-->
