/*
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500&subset=vietnamese');*/

*{
    outline: none;
}

html, body {
    min-height: 100%;
    background-color: #e9ebee;
    font-family: "Roboto", "Open Sans",sans-serif;
}

body {
    position: relative;
    padding-bottom: 250px;
    min-height: 800px;
}

a, a:hover {
    cursor: pointer;
    text-decoration: none;
}

.control.readonly {
    padding-top: 7px;
}

.form-location {
    padding-top: 7px;
}

.photo-preview {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: 15px 0;
}


.photo-preview .close {
    margin-right: 5px;
    color: #FFFFFF;
    opacity: 1;
}

.photo-preview .close:hover {
    color: #888;
}

.scroller {
    max-height: 500px;
    box-shadow: 0px 0px 4px #ccc;
    padding: 5px;
    overflow-y: auto;
}

.search-single {
    font-size: 20px;
    padding: 22px;
}

.label-single {
    margin-top: 14px;
}

.search-container {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    background-color: #333;
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
}

.search-container .search-form {
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    position: relative;
    margin: 0;
}

.search-container .key-words {
    padding: 15px;
    margin-top: 0px;
    color: white;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.search-container .search-form .form-group label {
    color: #FFFFFF;
}

.search-container .search-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.search-container .button-search {
    padding-bottom: 15px;
}

.search-from label {
    font-weight: 500;
}

.search-form .form-group label {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    border-top: 2px solid red;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.box-footer {
    margin-top: 20px;
}

/*Common*/
.my-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.form-filter label {
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
}

.form-filter .filter-date {
    padding: 10px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
}

.btn.btn-delete, .btn.btn-download {
    width: 90px;
}

.btn-calendar {
    position: relative;
    top: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-calender {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.file-buttons {
    padding: 15px;
    text-align: center;
}



.modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.no-info {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.no-info p {
    font-size: 2em;
    color: #777;
}

.disabled {
    color: #333;
    background-color: white;
    border-color: #ccc;
    cursor: not-allowed !important;
}

.alert-sm {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.alert-sm p {
    overflow: hidden;
}

.title {
    margin: 20px 0;
    font-size: 25px;
    font-family: 'Roboto Condensed';
}

.center {
    text-align: center;
}

h1.center {
    margin-top: 10px;
}

.box-heading-big {
    padding: 10px 0px;
}

.box-hover {
    -o-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.box-hover:hover {
    box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);
}

.box-margin {
    margin: 20px;
}

.panel {
    /*padding: 4px;*/
    box-shadow: #cbcbcb;
}

.panel-heading h1 {
    margin-top: 10px;
}

.panel-body > div {
    margin-bottom: 10px;
}

.login-container {
    margin-top: 0px;
}

.login-logo {
    display: none;
    text-align: center;
}

.logo {
    text-align: center;
}

.job .logo a {
    display: block;
    margin-top: 36px;
    height: 70px;
}

.text-lg {
    font-size: 140%;
}

.text-strong-2 {
    font-size: 0.9em;
}

.text-bold {
    font-weight: 500;
}

.file-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

.btn-action {
    color: white;
    background-color: #f7941d;
    border-color: #f28809;
}

.btn-action:hover {
    color: white !important;
    background-color: #E38008;
}

.btn-larger {
    padding-left: 30px;
    padding-right: 30px;
}

.scrollTop{
    padding:10px;
    text-align:center;
    background: #1488DB;
    font-weight: bold;
    position:fixed;
    right:5px;
    display:none;
    bottom: 100px;
    border-radius: 50%;
    z-index: 1002;
    cursor: pointer;
}

.scrollTop img {
    width: 28px;
    height: 28px;
}

.right-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.right-content .job {
    box-shadow: none;
    border: 1px #eee solid;
}

.right-content .box-hover:hover {
    box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);
}

/*Side bar*/

.nav-sidebar {
    position: absolute;
    /*top: 52px;*/
    /*left: 0;*/
    width: 90px;
    background-color: #303c4b;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);;
    z-index: 10;
    min-height: 100%;
    float: left;
}

.nav-sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}

.nav-sidebar ul li {
    margin: 0;
    padding: 0;
}

.nav-sidebar ul li a {
    display: block;
    width: 90px;
    padding: 10px 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #8e9caf;
    font-size: 11px;
}

.nav-sidebar ul li a span {
    display: block;
}

.nav-sidebar ul li a:hover {
    background-color: #2a3442;
}

.nav-sidebar ul li a.active {
    border-right: 5px solid #0f97f9;
    background: #2a3442;
    text-indent: 5px;
    color: #fff;
}

.nav-sidebar .fa {
    display: block;
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 25px;
}

.dashboard {
    /*position: absolute;*/
    margin-top: -20px;
    left: 0;
    right: 0;
    /*min-height: 100%;*/
    min-height: 500px;
}

.dashboard .content {
    min-height: 100%;
    /*position: absolute;*/
}

.dashboard .inner-container {
    padding: 20px 0;
}
/*End side bar*/
/*Header*/

.header {
    position: relative;
    z-index: 100;
}
.navbar-blue {
    background-color: #0795df;
    box-shadow: 0 1px 8px 1px #ccc;
    border-radius: 0;
}

.navbar-grey {
    background-color: #696969;
    box-shadow: 0 1px 8px 1px #ccc;
    border-radius: 0;
}

.navbar-blue .navbar-brand,
.navbar-grey .navbar-brand{
    color: white;
    padding: 3px;
}

.navbar-blue .navbar-brand img,
.navbar-grey .navbar-brand img{
    height: 44px;
}

.navbar-blue .navbar-nav > li > a,
.navbar-grey .navbar-nav > li > a{
    color: white;
    font-weight: normal;
}

.navbar-blue .open > a,
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus{
    background-color: #1b80c4;
}

.navbar-grey .navbar-nav > li > a:hover,
.navbar-grey .navbar-nav > li > a:focus{
    background-color: #545151;
}

.navbar-blue .navbar-nav > li > a.logout,
.navbar-grey .navbar-nav > li > a.logout{
    color: rgb(199, 44, 44);
    font-weight: 500;
}

.navbar-nav .dropdown-toggle {
    cursor: pointer;
}

.navbar-blue .open .dropdown-menu {
    position: absolute;
    background: #FFFFFF;
    border: 0;
}

.navbar-blue .navbar-collapse.in {
    overflow-y: visible;
}

/*End common*/
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/*JOB GRID*/

.job, .box {
    /*padding: 10px;*/
    margin-bottom: 5px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background-color: white;
    position: relative;
    /*transition: all ease-out 0.3s;*/
}

.box-padding {
    padding: 15px;
}

.job {
    overflow: hidden;
    padding: 10px;
}

.job:first-child {
    margin-top: 0;
}

.job:last-child {
    /*margin-bottom: 0;*/
}

/*.job:hover {*/
    /*/!*background-color: #fcfcfc;*!/*/
    /*box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);*/
/*}*/

.job .logo img {
    width: auto;
    max-height: 70px;
    max-width: 90px;
}

.job .box-title,
.job .box-title a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #0795df;
    margin-top: 0;
}

.job .box-title a:hover {
    color: #1b80c4;
}

.box-popup .box-title {
    font-size: 18px;
}

.job .location {
    font-size: 13px;
    color: #adadad;
}

.job .employer a {
    color: #444444;
    font-size: 15px;
    font-weight: 600;
}

.job .salary {
    color: #333333;
}

.job .salary .value {
    color: #11a509;
    font-weight: 500;
}

.job .salary > span {
    font-size: 13px;
}

.job .description, .short-description {
    color: rgb(112, 112, 112);
    font-size: 13px;
    margin-top: 10px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   line-height: 18px;
    max-height: 36px;
}

.job .tag-line {
    margin-top: 6px;
}

.job .num-registered-back {
    position: absolute;
    transform: rotate(-45deg);
    background-color: #37BC9B;
    width: 80px;
    height: 50px;
    right: -40px;
    bottom: -20px;
}


.job .num-registered {
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
    line-height: 12px;
}

.job .status {
    font-weight: 700;
    color: darkgrey;
}

.job .pending {
    color: darkgrey;
}

.job .accepted {
    color: darkorange;
}

.tag-line > ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.tag-line > ul > li {
    display: inline-block;
}

.tag-line a {
    padding: 5px 10px;
    margin-right: 10px;
}

/*Common*/


/*Search Bar*/
.icon, .took-keywords, .input-text {
    display: inline-block;
}

.icon {
    padding-right: 10px;
}

.input-section-wrapper .form-control {
    max-height: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
    padding: 4px 10px;
}

.took-keywords {
    padding: 3px;
    background-color: #d8f1fa;
    color: #555;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
    border-radius: 4px;
}

.list-items {
    margin-bottom: 0;
}

.btn-close-small, .popup-items .item:hover {
    cursor: pointer;
}

.popup-items .item.active {
    background-color: rgb(241, 241, 241);
}

#inputText {
    border: none;
    outline: none;
    font-size: 120%;
    padding: 5px;
    /*background-color: #adadad;*/
}

.button-search .btn {
    margin-top: 10px;
    height: 43px;
}

.button-search input[value='Search']::before {
    content: ' ';
    visibility: hidden;

}

/*.popup-items {*/
    /*/!*display: none;*!/*/
    /*z-index: 4;*/
    /*padding: 15px 0px;*/
    /*background-color: white;*/
/*}*/

/*.popup-items .item {*/
    /*padding: 10px;*/
/*}*/

/*.popup-items .item:hover {*/
    /*background-color: #59b4ff;*/
/*}*/

.input-section-wrapper {
    position: relative;
}

.input-section-wrapper .popup-items {
    z-index: 100;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.input-section-wrapper .popup-items .item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.city-section .form-control, .district-section .form-control {
    height: 43px;
    font-size: 16px;
}



.popup-items .item:hover {
    background-color: #f1f1f1
}

.key-words {
    padding: 15px;
}

.key-words .tag-line {
    display: inline-block;
}

.key-words .tag-line li > a {
    margin-top: 5px;
    display: inline-block;
}

.box-title {
    margin-top: 10px;
}

/*Gallery*/
.thumb-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

/*Job: agency info*/

.links a {
    color: #ea2635;
}

.links a:hover {
    color: #c12e2a;
}

.links:after {
    display:inline-block;
    content: "";
    margin-right: 2px;
    border-left: solid 4px #ea2635 ;
    border-top: solid 4px transparent;
    border-bottom: solid 4px transparent;
}

.flag-icon-small {

}

.agency-images {
    margin-bottom: 10px;
}

.agency-brief:hover {
    background-color: white;
}

.agency-brief .panel-body p {
    margin: 30px auto;
}

.agency-brief .logo img {
    max-height: 150px;
    max-width: 300px;
}

.icon-location {
    background-image: url("/assets/images/icon-location.svg");
}

.icon {
    line-height: inherit;
}


.job .box-heading > * {
    margin-bottom: 10px;
    font-size: 15px;
}

.job .box-heading.job-similar .location {
    font-size: 13px;
}

.job-detail {
    border-top: 1px #eee solid;
}

.job .box-heading .tag-line {
    margin-top: 0;
}

.job .box-heading.job-similar .tag-line a{
    padding: .2em .6em .3em;
}

.job .box-heading.job-similar .title {
    font-size: 20px;
}

.job .box-heading .tag-line ul {
    margin-bottom: 0;
}

.job .box-heading .title {
    margin-top: 0;
    font-size: 20px;
    font-family: 'Roboto Condensed';
}

.button-submit {
    margin-top: 20px;
    text-align: right;
}

.button-submit .btn {
    padding-left: 20px;
    padding-right: 20px;
}


.related-jobs {
    margin: 0px;
    background-color: white;
}

.related-jobs .job {
    margin-bottom: 0px;
    box-shadow: none;
    border-top: 2px #e0e0e0 solid;
}

.related-jobs .box-hover:hover {
    box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);
}

.related-jobs .box-hover:nth-child(even):hover {
    border-color: #F4F4F4;
}

.related-jobs .box-hover:nth-child(odd):hover {
    border-color: white;
}

.related-jobs .job:nth-child(even) {
    background-color: #FaFaFa;
}

.related-jobs .job:last-child {
    border-bottom: 2px #e0e0e0 solid;
}

/*job title*/

.table tbody tr td {
    transition: background-color linear 0.3s;
}

.table tbody tr.row-hover:hover td, .table tbody tr.row-selected td{
    background-color: #b6f0fd;
}


.table thead td {
    background-color: #72BDFD;
    color: white;
}

.table .filename, .table .upload-date {
    text-align: center;
}


.application .box-heading-big {
    font-weight: 700;
    color: white;
    background-color: #5BC0DE;
}

.application .app-form {
    background-color: white;
    padding: 10px;
}

.application .control-label {
    font-weight: normal;
}

.application .box {
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.application .form-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-group .adjust {
    padding-bottom: 5px;
    padding-top: 5px;
}

.app-note .remain {
    text-align: right;
    color: #333;
}

.file-item {
    text-align: center;
    margin: 5px;
}

.file-context {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity linear 0.2s;
}

.file-context .group-button {
    position: relative;
    top: 50px;
}

.file-item .item-body:hover .file-context {
    visibility: visible;
    opacity: 1;
}

.file-item .item-body {
    border: 1px #ddd solid;
    background-color: white;
    box-shadow: 0 1px #B7B7B7;
    padding: 20px 0;
    position: relative;
}

.file-item.active {
    box-shadow: 0 2px 5px #B7B7B7;
}

.file-item.active .item-body {
    box-shadow: none;
}

.file-item.active .item-footer {
    color: white;
    background-color: #4285F4;
}

.file-item .file-name {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    padding: 5px;
}

.file-detail {
    display: table-cell;
}

.file-detail .title {
    vertical-align: middle;
}

.file-detail .file-icon img {
    width: 48px;
    height: auto;
}

.btn.btn-upload {
    background-color: #23A1E6;
    border-color: #1681bd;
    color: white;
}

.btn.btn-upload:hover {
    background-color: #288edd;
}

.nav-pills li.active>a,
.nav-pills li.active>a:focus,
.nav-pills li.active>a:hover {
    background-color: #54AEFB;
}

.table-data tr {
    position: relative;
}

.table-data .popover {
    max-width: 600px;
}

.table-data .popover-title {
    display: none;
}

.heading-label {
    font-weight: 300;
    font-size: 13px;
}

.note {
    border: 1px #eee solid;
    padding: 5px;
}

.file-cv {
    padding: 15px;
}

.candidate-heading {
    padding: 20px;
}

.banner {
    background-image: url('/assets/images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Login form*/

.background-image {
    background-image: url(/assets/images/cork-wallet.png);
    /*background-size: cover;*/
    display: block;
    /*filter: blur(4px);*/
    /*-webkit-filter: blur(4px);*/
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}

.auth-form {
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 3px #000;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    overflow: hidden;
    position: relative;
}
.head {
    color: #666;
    font-size: 20px;
    font-weight: bold;
    /*padding: 15px;*/
    text-transform: uppercase;
}

.head::after {
    content: "";
    clear: both;
    display: table;
}

.tab-login, .tab-signup {
    float: left;
    display: block;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background-color: #D2D8D8;
    color: #809191;
    cursor: pointer;
    transition: background-color ease-out 0.2s;
}

.tab-login:hover, .tab-signup:hover {
    background-color: #F0F0F0;
}

.tab-login.active, .tab-signup.active,
.tab-login.active:hover, .tab-signup.active:hover {
    background: rgba(255, 255, 255, 0.20);
    color: #fe7175;
}

.tab-form-pane {
    display: none;
}

.tab-form-pane.active {
    display: block;
}

.social {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 82%;
}
.social h4 {
    font-weight: bold;
    margin: 30px 0 20px;
    text-align: center;
}
.social ul{
    display: block;
    padding-left: 0;
}
.social ul li{
    list-style: none;
    float: left;
    width: 50%;
    padding: 0 1%;
}
.social ul li a{
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 6px;
    display: block;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.social ul li a:hover{opacity: .8;}
.social ul li a.facebook{
    background: #3a589a;
}
.social ul li a.twitter {
    background: #4099ff;
}
.social ul li a.google-plus {
    background: #e9544f;
}

.social-icon {
    font-size: 20px;
}

.social-icon .fa-facebook {
    color: blue;
}

.social-icon .fa-google {
    color: red;
}
.divider{
    background: #ddd;
    height: 2px;
    display: block;
    position: relative;
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0;
}
.divider span{
    width: 30px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: -25px;
    text-align: center;
}

.input-field {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 15px;
}

.input-field label {
    color: #383838;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}
.input-field input[type="email"],
.input-field input[type="password"],
.input-field input[type="text"] {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(223, 223, 223, 0.2);
    margin: 6px 0;
    padding: 12px;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="text"]:focus {
    outline: none;
    border: 1px solid #bdbdbd;
}
.input-field .btn-login, .input-field .btn-signup {
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 5px 0;
    outline: medium none;
    overflow: hidden;
    padding: 14px;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.input-field .btn-login {
    background-color: #f85f64
}
.input-field .btn-signup {
    background-color: #4CAF50;
}
.input-field .btn-login:hover {
    background-color: #fe7175;
}
.input-field .btn-signup:hover {
    background-color: #4AAC40;
}

.text-p{
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}
.text-p a{
    color: #175690;
}

.help-block {
    color: red;
    font-size: 80%;
}

.search-box {
    padding: 5px;
    position: relative;
    min-width: 300px;
}

.search-box input[name='searchText'] {
    border: 1px solid #eee;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    outline: none;
    width: 78%;
    display: block;
    height: 40px;
    padding: 5px 5px;
    background-color: #fcfcfc;
    transition: background-color ease-out 0.1s;
}

.search-box input[name='searchText']:focus {
    background-color: white;
}

.search-box .btn-search {
    outline: none;
    height: 40px;
    background-color: #03AFEF;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-width: 0;
    font-size: 80%;
    color: white;
    float: left;
    width: 22%;
    text-transform: uppercase;
}

.search-box .btn-search:active,
.search-box .btn-search:hover {
    background-color: #0d93c4;
}

.search-box .btn-search, .search-box input[name='searchText'] {
    float: left;
}

.search-box > div {
    position: relative;
}

.search-box .group::after {
    content: "";
    display: table;
    clear: left;
}

.search-box .pane {
    padding: 5px;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transform: translateY(15%);
    transition: all ease-out 0.2s;
    opacity: 0;
    visibility: hidden;
}

.search-box .pane.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(1%);
}

.search-box .pane-city,
.search-box .pane-district {
    width: 50%;
    float: left;
    padding: 5px 10px;
}

.search-box select {
    display: block;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #eee;
    padding: 5px 2px;
    font-size: 85%;
}

.group {
  border: 1px solid #eee;
  padding: 10px;
}

.box-level-0 .box-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.box-level-1 .box-title {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.box-level-2 .box-title {
  font-size: 15px;
  font-weight: normal;
}

.box-level-3 .box-title {
  font-size: 12px;
  font-weight: normal;
}

.options > .row {
  margin-bottom: 5px;
}

/*Navbar*/
.navbar-default {
  border-bottom: 1px #ddd solid;
  box-shadow: 0 0 1px #e5e5e5;
  background-color: #FFF;
}

/*Noti*/
.multiselect-parent .dropdown-menu > li > a,
.multiselect-parent .dropdown-menu > li > a:hover {
  cursor: pointer;
}

.navbar-blue .navbar .open > .dropdown-toggle,
.navbar-blue .navbar .open > .dropdown-toggle:hover,
.navbar-blue .navbar .noti > .dropdown-toggle:hover {
  color: white;
  background-color: #1b80c4;
}

.navbar-grey .navbar .open > .dropdown-toggle,
.navbar-grey .navbar .open > .dropdown-toggle:hover,
.navbar-grey .navbar .noti > .dropdown-toggle:hover {
  color: white;
  background-color: #545151;
}

.noti .number {
  color: #fff;
  background: #ef474f;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: 15px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  border: 1px solid #fff;
  top: 10px;
  right: 0px;
  line-height: 13px;
}

.dropdown-title {
  color: #555;
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.navbar .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  min-width: 300px;
}

.navbar .menu .dropdown-menu{
    min-width: 200px;
}

.navbar .user-dropdown .dropdown-menu {
  min-width: 200px;
}

.navbar .dropdown-menu > li,
.navbar .dropdown-menu > li {
  border-bottom: 1px solid #eee;
}

.navbar .dropdown-menu li > a,
.navbar .dropdown-menu li > a {
  font-size: 13px;
  word-spacing: 1px;
  padding: 10px;
  word-space: initial;
  transition: color 0.15s linear;
}
.navbar-blue .navbar .dropdown-menu li > a:hover{
  color:#f7941d;
  background-color: #FFF;
}

.navbar-grey .navbar .dropdown-menu li > a:hover{
  color:#f7941d;
  background-color: #545151;
}
/*End Noti*/

/*User Dropdown*/

.user-dropdown.open .dropdown-toggle.user-toggle {
  background-color: #1b80c4;
}


.navbar-grey .user-dropdown.open .dropdown-toggle.user-toggle {
  background-color: #515115;
}

.navbar-right .dropdown .dropdown-toggle.user-toggle {
  padding: 11px 10px;
}

.navbar-right .dropdown .dropdown-toggle.user-toggle .fa-user {
  color: #8c8c8c;
}

.form-job {
  padding: 25px 20px;
}

.section > div,
.section > div {
  -webkit-tranition: opacity, transform 0.2s ease-in;
  -moz-transition: opacity, transform 0.2s ease-in;
  -o-transition: opacity, transform 0.2s ease-in;
  transition: opacity, transform 0.2s ease-in;
  
}

.section > .ng-enter {
  opacity: 0;
}

.section > .ng-enter-active {
  opacity: 1;
}

.section > .ng-leave {
  opacity: 1;
}

.section > .ng-leave-active {
  opacity: 0;
}

.group-button .btn {
  margin-left: 5px;
  margin-right: 5px;
}

.table-jobs tbody , .table-jobs thead th {
 font-size: 14px;
}

.table-jobs tbody tr td {
    border-color: #eee;
}

.table-jobs tbody tr td,
.table-jobs tbody tr td > a {
    font-size: 13px;
    font-weight: 400;
}

.section {
 padding: 10px;
}

/* tag input*/
.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}

/*dashboard*/
.reportname {
    color: #999;
    
}

.toolbar {
    margin-bottom: 20px;
}

.toolbar .title {
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
}


.toolbar .input-group .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.toolbar ._720kb-datepicker-open {
    top: 35px;
}

.toolbar .period-time {
    margin-top: 20px;
}

.stat-number {
    margin-top: 25px;
}

.reportkpi {
    text-align: center;
}

.reportkpiname {
    color: #777;
}

.reportkpivalue {
    font-size: 30px;
}

.reportkpitag .label {
    margin: 0 5px;
}

.reportkpitag, .reportkpiview {
    line-height: 42px;
}

.chart {
    margin: 15px 0;
}

/* agency profile*/
.cover-background {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover {
    position: relative;
    margin-bottom: 20px;
    top: -20px;
}

.cover-footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.logo-container {
    margin-bottom: -40px;
}

.agency-card {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    height: 130px;
}

.cover .logo, 
.agency-card .logo {
    width: 150px;
    height: 150px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    background: #FFFFFF;
    padding: 5px;
}

.agency-card .logo-wrap {    
    flex: 1 0;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    display: flex;
}

.agency-card .logo-wrap .logo {
    bottom: 0;
    left: 0;
    transform: translateX(0);
    width: auto;
    height: auto;
    border: none;
    max-height: 100%;
    overflow: hidden;
}

.agency-card .info {
    flex: 2 0;
}

.agency-card .info .title {
    font-size: 18px;
}

.agency-card .info .tag-line .label {
    padding: .2em .6em .3em;
}

.cover .logo img,
.agency-card .logo img{
    max-height: 120px;
}

.no-cover-photo .cover-background {
    display: none;
}

.no-cover-photo .logo-container {
    margin-bottom: 0;
}

.no-cover-photo .logo {
    bottom: 0;
}

.agency-info {
    padding-left: 20px;
    font-size: 16px;
}

.agency-info .title {
    font-size: 32px;
}

/*register*/
.register-page .agency-greeting {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 0;
}
.register-page .agency-greeting p {
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 300;
}

.register-page .candidate-greeting {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
}
.register-page .candidate-greeting p {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

/*footer*/
footer {
    background-color: #333;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 11;
}

footer ul {
    list-style: none;
}

footer a {
    color: #FFFFFF;
    font-size: 14px;
}

footer a:hover,footer a:focus
{
    color: #ccc;    
}

.social-contact {
    list-style: none;
    margin-left: 0;
}

.social-contact > li {
    display: inline-block;
}

.social-contact .item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.social-contact .item.facebook {
    background-color: #4E71A8;
}

.social-contact .item.google {
    background-color: #E3411F;
}

.social-contact .item.twitter {
    background-color: #1CB7EB;
}
@media (max-width: 480px){    
    .login-page .auth-form {
        margin-top: 10%;
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .auth-form .input-field {
        padding-bottom: 15px;
    }
    
    .dashboard .content {
        margin-left: 0px;
    }
}


@media (min-width: 768px) {
    body {
        padding-bottom: 180px;
    }
    .main {
        padding: 0 50px;
    }

    .thumb-center {
        height: 185px;
        margin-top: 10px;
    }

    .job-grid .tag-line {
        margin-top: 20px;
    }
    
/*    .job .box-heading, .job .job-detail {
        padding-left: 20px;
        padding-right: 20px;
    }*/

    .job-detail > div {
        padding-top: 30px;
    }

    .apply-button .btn {
        padding-left: 30px;
        padding-right: 30px;
    }

    .box-heading-big {
        padding: 20px 0px;
    }

    .dashboard .content {
        margin-left: 90px;
    }

    .title-wrapper {
        margin-bottom: 30px;
    }

    .file-item .item-body {
        padding: 30px 0;
    }

    .dropdown-toggle {
        display: block;
        text-overflow: ellipsis;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .logo-container {
        margin-bottom: 0;
    }
    
    .cover .logo,
    .agency-card .logo{
        left: 30px;
        transform: translateX(0);
        border: 1px solid #b3c2d6;
    }
    
    .agency-card .logo {
        left: 0;
    }
    
    .no-cover-photo .logo {
        left: 0;
        bottom: 0;
        transform: translateX(0);
    }
    
    .agency-images {
        margin-bottom: 25px;
    }
    
    .login-logo {
        display: block;
        margin-bottom: 30px;
    }
    
    .login-logo img{
        width: 50%;
        height: auto;
    }
    
    .agency-card .info .title {
        font-size: 20px;
    }
    
    .login-container {
        margin-top: 100px;
    }
    
    .search-container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 100px;
    }
    
    .search-container .search-form {
        margin: 0 15px;
    }
    
    .search-container .key-words {
        margin-top: 100px;
    }
    
    .login-page {
        margin-bottom: 100px;
    }
}

@media (min-width: 992px) {

    .thumb-center {
        margin-top: inherit;
    }
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}