@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,vietnamese);
*{
    outline: none;
}

html, body {
    height: 100%;
    background-color: #f1f1f1;
    font-family: "Roboto", "Open Sans",sans-serif;
    font-size: 16px;
}

a, a:hover {
    text-decoration: none;
}

label {
    font-weight: 500;
}

.form-group label {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Common*/
.my-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn.btn-delete, .btn.btn-download {
    width: 90px;
}

.file-buttons {
    text-align: center;
}

.modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.no-info {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.no-info p {
    font-size: 2em;
}

.disabled {
    color: #333;
    background-color: white;
    border-color: #ccc;
    cursor: not-allowed !important;
}

.alert-sm {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.alert-sm p {
    overflow: hidden;
}

.title {
    font-size: 25px;
    font-family: 'Roboto Condensed';
}

.center {
    text-align: center;
}

h1.center {
    margin-top: 10px;
}

.box-heading-big {
    padding: 10px 0px;
}

.box-hover {
    -o-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.box-hover:hover {
    box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);
}

.panel {
    /*padding: 4px;*/
    box-shadow: #cbcbcb;
}

.panel-heading h1 {
    margin-top: 10px;
}

.panel-body > div {
    margin-bottom: 10px;
}

.logo {
    text-align: center;
}

.job .logo a {
    display: block;
    margin-top: 46px;
    margin-left: 20px;
}

.text-lg {
    font-size: 140%;
}

.text-strong-2 {
    font-size: 0.9em;
}

.text-bold {
    font-weight: 500;
}

.file-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

.btn-action {
    color: white;
    background-color: #f7941d;
    border-color: #f28809;
}

.btn-action:hover {
    color: white !important;
    background-color: #E38008;
}

.btn-larger {
    padding-left: 30px;
    padding-right: 30px;
}

.scrollTop{
    padding:10px;
    text-align:center;
    background: #1488DB;
    font-weight: bold;
    position:fixed;
    right:5px;
    display:none;
    bottom: 100px;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.scrollTop img {
    width: 28px;
    height: 28px;
}

.right-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.right-content .job {
    box-shadow: none;
    border: 1px #eee solid;
}

.right-content .box-hover:hover {
    box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);
}

/*Side bar*/

.nav-sidebar {
    position: absolute;
    /*top: 52px;*/
    left: 0;
    width: 90px;
    background-color: #303c4b;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);;
    z-index: 1000;
    min-height: 100%;
}

.nav-sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}

.nav-sidebar ul li {
    margin: 0;
    padding: 0;
}

.nav-sidebar ul li a {
    display: block;
    width: 90px;
    padding: 10px 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #8e9caf;
    font-size: 11px;
}

.nav-sidebar ul li a span {
    display: block;
}

.nav-sidebar ul li a:hover {
    background-color: #2a3442;
}

.nav-sidebar ul li a.active {
    border-right: 5px solid #0f97f9;
    background: #2a3442;
    text-indent: 5px;
    color: #fff;
}

.nav-sidebar .glyphicon {
    display: block;
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 25px;
}

.dashboard {
    position: absolute;
    background-color: #ECEFF1;
    margin-top: -20px;
    left: 0;
    right: 0;
    min-height: 100%;
    /*margin-top: -20px;*/
}

.dashboard .content {
    min-height: 100%;
    /*position: absolute;*/
}

/*End side bar*/
/*Header*/

.header {
    position: relative;
    z-index: 1000;
}
.navbar-blue {
    background-color: white;
    box-shadow: 0 1px 8px 1px #ccc;
    border-radius: 0;
}

.navbar-blue .navbar-nav > li > a {
    color: #080808;
    font-weight: 700;
}

.navbar-blue .navbar-nav > li > a.logout {
    color: rgb(199, 44, 44);
    font-weight: 500;
}

.navbar-blue .navbar-nav .dropdown-toggle {
    cursor: pointer;
}


/*End common*/

.login {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/*JOB GRID*/

.job, .box {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 2px rgba(216,216,216,0.6);
    background-color: white;
    position: relative;
    /*transition: all ease-out 0.3s;*/
}

.job {
    overflow: hidden;
}

.job:first-child {
    margin-top: 0;
}

.job:last-child {
    /*margin-bottom: 0;*/
}

/*.job:hover {*/
    /*/!*background-color: #fcfcfc;*!/*/
    /*box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);*/
/*}*/

.job .logo img {
    height: 65px;
    width: 65px;
}

.job .box-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #231f20;
}

.job .location {
    font-size: 13px;
    color: #adadad;
}

.job .employer a {
    color: #444444;
    font-size: 15px;
    font-weight: 600;
}

.job .salary {
    color: #333333;
}

.job .salary .value {
    color: gray;
    font-weight: 500;
}

.job .salary > span {
    font-size: 13px;
}

.job .description, .short-description {
    color: rgb(112, 112, 112);
    font-size: 13px;
    margin-top: 10px;
}

.job .tag-line {
    margin-top: 6px;
}

.job .num-registered {
    position: absolute;
    transform: rotate(-45deg);
    background-color: #37BC9B;
    width: 100px;
    height: 50px;
    right: -40px;
    bottom: -10px;
}

.job .num-registered span {
    font-size: 20px;
    color: white;
    position: absolute;
    transform: rotate(45deg);
    left: 43px;
    top: 5px;
    font-weight: 700;
}

.job .status {
    font-size: 120%;
    font-weight: 700;
    color: darkgrey;
}

.job .pending {
    color: darkgrey;
}

.job .accepted {
    color: darkorange;
}

.tag-line > ul{
    list-style: none;
    padding-left: 0;
}

.tag-line > ul > li {
    display: inline-block;
}

.tag-line a {
    padding: 5px 10px;
    margin-right: 10px;
}

/*Common*/


/*Search Bar*/
.icon, .took-keywords, .input-text {
    display: inline-block;
}

.icon {
    padding-right: 10px;
}

.input-section-wrapper .form-control {
    max-height: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
    padding: 4px 10px;
}

.took-keywords {
    font-size: 110%;
    padding: 5px;
    background-color: #d8f1fa;
    color: #555;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
}

.list-items {
    margin-bottom: 0;
}

.btn-close-small, .popup-items .item:hover {
    cursor: pointer;
}

.popup-items .item.active {
    background-color: rgb(241, 241, 241);
}

#inputText {
    border: none;
    outline: none;
    font-size: 120%;
    padding: 5px;
    /*background-color: #adadad;*/
}

.button-search .btn {
    margin-top: 10px;
    height: 43px;
}

.button-search input[value='Search']::before {
    content: ' ';
    visibility: hidden;

}

/*.popup-items {*/
    /*/!*display: none;*!/*/
    /*z-index: 4;*/
    /*padding: 15px 0px;*/
    /*background-color: white;*/
/*}*/

/*.popup-items .item {*/
    /*padding: 10px;*/
/*}*/

/*.popup-items .item:hover {*/
    /*background-color: #59b4ff;*/
/*}*/

.input-section-wrapper {
    position: relative;
}

.input-section-wrapper .popup-items {
    z-index: 100;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.input-section-wrapper .popup-items .item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.city-section .form-control, .district-section .form-control {
    height: 43px;
    font-size: 16px;
}



.popup-items .item:hover {
    background-color: #f1f1f1
}

.key-words {
    padding: 15px;
}

.key-words .tag-line {
    display: inline-block;
}

.box-title {
    margin-top: 10px;
}

/*Gallery*/
.thumb-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

/*Job: agency info*/

.links a {
    color: #ea2635;
}

.links a:hover {
    color: #c12e2a;
}

.links:after {
    display:inline-block;
    content: "";
    margin-right: 2px;
    border-left: solid 4px #ea2635 ;
    border-top: solid 4px transparent;
    border-bottom: solid 4px transparent;
}

.flag-icon-small {

}

.agency-brief:hover {
    background-color: white;
}

.agency-brief .panel-body p {
    margin: 30px auto;
}

.icon-location {
    background-image: url("../images/icon-location.svg");
}

.icon {
    line-height: inherit;
}

.job .box-heading > * {
    margin-bottom: 10px;
    font-size: 15px;
}

.job-detail {
    border-top: 1px #eee solid;
}

.job .box-heading .tag-line {
    margin-top: 0;
}

.job .box-heading .tag-line ul {
    margin-bottom: 0;
}

.job .box-heading .title {
    font-size: 30px;
    font-family: 'Roboto Condensed';
}

.button-submit {
    margin-top: 20px;
    text-align: right;
}

.button-submit .btn {
    padding-left: 20px;
    padding-right: 20px;
}


.related-jobs {
    margin: 0px;
    padding: 10px 0px;
    background-color: white;
}

.related-jobs .job {
    margin-bottom: 0px;
    box-shadow: none;
    border-top: 2px #e0e0e0 solid;
}

.related-jobs .box-hover:hover {
    box-shadow: 0px 0px 5px 1px rgba(183, 183, 183, 0.6);
}

.related-jobs .box-hover:nth-child(even):hover {
    border-color: #F4F4F4;
}

.related-jobs .box-hover:nth-child(odd):hover {
    border-color: white;
}

.related-jobs .job:nth-child(even) {
    background-color: #FaFaFa;
}

.related-jobs .job:last-child {
    border-bottom: 2px #e0e0e0 solid;
}

/*job title*/
.col-md-4 .box-heading .title {
    font-size: 20px;
}

.table tbody tr td {
    transition: background-color linear 0.3s;
}

.table tbody tr.row-hover:hover td, .table tbody tr.row-selected td{
    background-color: #b6f0fd;
}


.table thead td {
    background-color: #72BDFD;
    color: white;
}

.table .filename, .table .upload-date {
    text-align: center;
}


.application .box-heading-big {
    font-weight: 700;
    color: white;
    background-color: #5BC0DE;
}

.application .app-form {
    background-color: white;
    padding: 10px;
}

.application .control-label {
    font-weight: normal;
}

.application .box {
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.application .form-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-group .adjust {
    padding-bottom: 5px;
    padding-top: 5px;
}

.app-note .remain {
    text-align: right;
    color: #333;
}

.file-item {
    text-align: center;
    margin: 5px;
}

.file-item .item-body {
    border: 1px #ddd solid;
    background-color: white;
    box-shadow: 0 1px #B7B7B7;
    padding: 20px 0;
}

.file-item.active {
    box-shadow: 0 2px 5px #B7B7B7;
}

.file-item.active .item-body {
    box-shadow: none;
}

.file-item.active .item-footer {
    color: white;
    background-color: #4285F4;
}

.file-item .file-name {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    padding: 5px;
}

.file-detail {
    display: table-cell;
}

.file-detail .title {
    vertical-align: middle;
}

.file-detail .file-icon img {
    width: 48px;
    height: auto;
}

.btn.btn-upload {
    background-color: #23A1E6;
    border-color: #1681bd;
    color: white;
}

.btn.btn-upload:hover {
    background-color: #288edd;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #54AEFB;
}

.table-data {
    margin-top: 10px;
}

.table-data tr {
    position: relative;
}

.table-data .popover {
    max-width: 600px;
}

.table-data .popover-title {
    display: none;
}

.heading-label {
    font-weight: 300;
    font-size: 13px;
}

.note {
    border: 1px #eee solid;
    padding: 5px;
}

.panel-heading {
    padding: 0;
}

.candidate-heading {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding: 0 50px;
    }

    .thumb-center {
        height: 185px;
        margin-top: 10px;
    }

    .job-grid .tag-line {
        margin-top: 20px;
    }
    
    .job .box-heading, .job .job-detail {
        padding-left: 20px;
        padding-right: 20px;
    }

    .job-detail > div {
        padding-top: 30px;
    }

    .apply-button .btn {
        padding-left: 30px;
        padding-right: 30px;
    }

    .box-heading-big {
        padding: 20px 0px;
    }

    .dashboard .content {
        margin-left: 90px;
    }
    
    .title-wrapper {
        margin-bottom: 30px;
    }

    .file-item .item-body {
        padding: 30px 0;
    }
}

@media (min-width: 992px) {

    .thumb-center {
        margin-top: inherit;
    }
}