<div class="container inner-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="section" ng-switch="isEdit">
                <div id="section-1" ng-switch-when="false">
                    <div class="col-xs-12 col-md-8 col-md-push-4">
                        <uib-accordion close-others="false">
                            <uib-accordion-group is-open="candidate.open" cg-busy="{promise: candidate.promise, message: 'Please wait...', minduration: 1000}"
                                    ng-repeat="candidate in students">
                                <uib-accordion-heading>
                                    <div class="candidate-heading" ng-click="loadDetail(candidate)">
                                        <span class="heading-label"><i class="glyphicon glyphicon-user"></i></span> <span>{{candidate.name}}</span>
                                        <span style="float: right;"><span class="heading-label">Status:</span> {{candidate.status}}</span>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-show="candidate.file !== undefined">
                                    <div class="note">
                                        <h5>Note:</h5>
                                        <p>{{candidate.note}}</p>
                                    </div>
                                    <div class="file-cv">
                                        <span class="text-normal">File CV: </span><a ng-href="dl/{{candidate.file.id}}/{{candidate.file.name}}">{{candidate.file.name}}</a>
                                    </div>
                                    <div class="button-submit">
                                        <button ng-show="candidate.status === 'PENDING'" ng-click="deny(candidate)" class="btn btn-danger">Deny</button>
                                        <button ng-show="candidate.status === 'PENDING'" ng-click="approve(candidate)" class="btn btn-info">Approve</button>
                                    </div>
                                </div>

                            </uib-accordion-group>

                        </uib-accordion>
                        <div class="no-info" ng-show="job.applied_students.length == 0 && job.status === 0">
                            <p>No application</p>
                            <a href="#/home" class="btn btn-action btn-lg btn-larger">Home</a>
                        </div>
                        <div class="no-info" ng-show="job.status !== 0">
                            <p>This job is {{job.status === 1 ? "closed" : "pending"}}</p>
                            <a href="#/home" class="btn btn-action btn-lg btn-larger">Home</a>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-md-4 col-md-pull-8">
                        <div class="job box-hover">
                            <div class="box-heading">
                                <h1 class="title"><a ng-href="#/job/{{job.id}}">{{job.title}}</a></h1>

                                <div class="tag-line">
                                    <ul>
                                        <li ng-repeat="tagJob in job.tags">
                                            <a ng-href="#/search?tags={{tagJob}}" class="label label-info">{{tagJob}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="salary">
                                    <span>Salary:</span>
                                    <span class="value">{{job.salary}}</span>
                                </div>
                                <div class="location">
                                    <span>{{job.location.city.name}},</span>
                                    <span> {{job.location.district.name}}</span>
                                    <span> {{job.location.address}}</span>
                                    <span class="flag-icon icon icon-location"></span>
                                    <span class="links">
                                        <a ng-href="https://www.google.com/maps/search/{{job.location}}, Vietnam">See Map</a>
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="pull-left">
                                            Expire on <strong>{{job.expire_date}}</strong>
                                        </span>
                                        <span class="pull-right">
                                            <label class="label" ng-class="{'label-success': job.status === 0, 'label-warning': job.status === 2, 'label-danger': job.status===1}">
                                                {{job.status === 0 ? "ACTIVE" : (job.status=== 2  ? "PENDING" : "CLOSED")}}
                                            </label>
                                        </span>
                                    </div>
                                    
                                </div>
                                
                                <div class="pull-right">
                                    <div class="group-button">
                                        <button ng-click="activeJob()" ng-show="job.status === -1" class="btn btn-success btn-sm">Active</button>
                                        <button ng-click="openFormEdit(true)" class="btn btn-default btn-sm">Edit</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-job" id="section-2" ng-switch-when="true">
                    <div class="col-xs-12">
                        <h1 class="title">Edit Job "{{job.title}}"</h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <button class="btn btn-default btn-sm" ng-click="openFormEdit(false)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                                        
                    
                    
                    <tabset nav-type="nav-pills">
                        <tab heading="Job Info">
                            <div class="box section">
                                <view-create-job job-model="jobModel" locations="locations"
                                items="tags"></view-create-job>
                                <hr>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label">
                                            Reason Editing:
                                        </label>
                                        <div class="col-xs-12 col-sm-10">
                                            <textarea class="form-control" ng-model="reason.msg"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            

                        </tab>
                        <tab heading="Job Criterias">
                            <div class="box section" ng-repeat="section in sections">
                                <edit-form section-data="section"></edit-form>
                            </div>
                        </tab>
                    </tabset>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-footer pull-right">
                                <button class="btn btn-default" ng-show="currentTab==0" ng-click="currentTab=1">Edit Criterias</button>
                                <button class="btn btn-action btn-lg" ng-click="updateJob()">Update</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
