<div class="section">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Suitable Jobs</h1>
        </div>
        <div class="col-xs-12">
            <job-grid class="job-grid" jobs="suitableJobs"></job-grid>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Approve Jobs</h1>
        </div>
        <div class="col-xs-12">
            <job-grid class="job-grid" jobs="approveJobs"></job-grid>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title"></h1>
        </div>
    </div>
</div>