<div class="dashboard">
    <div sticky id="leftGutter" class="nav-sidebar hidden-xs">
        <ul>
            <li><a ng-click="currentTabIndex = 0" ng-class="{active: currentTabIndex == 0}" href="#/dashboard/profile"><span class="glyphicon glyphicon-list-alt"></span><span>Profile</span></a></li>
            <li><a ng-click="currentTabIndex = 1" ng-class="{active: currentTabIndex == 1}" href="#/dashboard/job"><span class="glyphicon glyphicon-briefcase"></span><span>Job</span></a></li>
            <li><a ng-click="currentTabIndex = 2" ng-class="{active: currentTabIndex == 2}" href="#/dashboard/internship"><span class="glyphicon glyphicon-send"></span><span>Request</span></a></li>
            <li><a ng-click="currentTabIndex = 3" ng-class="{active: currentTabIndex == 3}" href="#/dashboard/files"><span class="glyphicon glyphicon-file"></span><span>Files</span></a></li>
        </ul>
    </div>
    <div class="content">
        <div class="right-content">
            <div ui-view></div>
        </div>
    </div>
</div>