<!-- NAVIGATION -->

<div id="header" class="header-menu">
    <nav class="navbar navbar-grey">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="fa fa-reorder"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/logo_h.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ng-if="userStatus === 1">
                        <a href="#/dashboard/job">
                          <i class="fa fa-briefcase"></i>
                          Company's Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#/dashboard/profile">
                          <i class="fa fa-pencil-square"></i>
                          Profile
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown noti">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="fa fa-lg fa-bell"></span>
                        <span ng-show="listNotis.length" class="number">{{listNotis.length}}</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><h3 class="dropdown-title">Notification</h3></li>
                        <li ng-repeat="noti in listNotis">
                          <a ng-href="{{noti.url}}"><i class="fa fa-info-circle fa-fw"></i>{{noti.title}}</a>
                        </li>
                        <li ng-show="listNotis.length == 0">
                            <a>There is no notification</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle user-toggle" data-toggle="dropdown" role="button">
                          <span class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle"></i>
                            <i class="fa fa-stack-1x fa-user fa-inverse"></i>
                          </span>
                          {{username}}
                          <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                              <a href="#/dashboard/profile">
                                <i class="fa fa-pencil-square"></i>
                                Profile
                              </a>
                            </li>
                            <li>
                              <a href="#" ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Sign Out
                              </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<div class="dashboard">
    <div id="leftGutter" class="nav-sidebar hidden-xs">
        <ul ng-if="userStatus === 1">
            <li><a ng-click="currentTabIndex = 0" ng-class="{active: currentTabIndex == 0}" href="#/dashboard/profile"><span class="fa fa-list-alt"></span><span>Profile</span></a></li>
            <li><a ng-click="currentTabIndex = 1" ng-class="{active: currentTabIndex == 1}" href="#/dashboard/job"><span class="fa fa-briefcase"></span><span>Job</span></a></li>
            <li><a ng-click="currentTabIndex = 2" ng-class="{active: currentTabIndex == 2}" href="#/dashboard/job/create"><span class="fa fa-briefcase"></span><span>Create Job</span></a></li>
        </ul>
        <ul ng-if="userStatus === 0">
            <li><a ng-click="currentTabIndex = 0" ng-class="{active: currentTabIndex == 0}" href="#/dashboard/profile/create"><span class="fa fa-list-alt"></span><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="content">
        <div class="right-content">
            <div ui-view></div>
        </div>
    </div>
</div>
