<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500&subset=vietnamese" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/libs.min.css" />
    <link rel="stylesheet" href="dist/css/style.min.css">

    <script data-main="main.js" src="libs/require.js"></script>
    <title>BKareer</title>
</head>

<!-- apply our angular app to our site -->
<body>

<!-- MAIN CONTENT -->
    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>
<script>
    String.prototype.firstCapitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }
</script>
<script src="dist/applicationModule.min.js">
    
</script>

</body>
</html>