<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <!-- CSS (load bootstrap) -->
    
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/summernote.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/ngGallery.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/angular-datepicker.min.css"/>
    <link rel="stylesheet" href="assets/css/ngProgress.css"/>
    <link rel="stylesheet" href="assets/css/ng-table.css"/>
    <link rel="stylesheet" href="assets/css/angular-busy.css"/>
    <link rel="stylesheet" href="libs/themes/default/style.min.css" />
    <link rel="stylesheet" href="assets/css/toaster.min.css"  />
    <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
    <link rel="stylesheet" href="bower_components/fakeLoader/fakeLoader.css" />
    <link rel="stylesheet" href="assets/css/style.css">

    <script data-main="main.js" src="libs/require.js"></script>
    <title>BKareer</title>
</head>

<!-- apply our angular app to our site -->
<body>

<!-- MAIN CONTENT -->
    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>
<script>
    String.prototype.firstCapitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }
</script>
<script src="dist/applicationModule.min.js">
    
</script>

</body>
</html>