<!-- NAVIGATION -->

<div id="header">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#">B-Kareer</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/dashboard/statistic">
                          <i class="fa fa-bar-chart" aria-hidden="true"></i>
                          Statistic
                        </a>
                    </li>
                    <li>
                        <a href="#/dashboard/job">
                          <i class="fa fa-briefcase"></i>
                          Job
                        </a>
                    </li>
                    <li>
                        <a href="#/dashboard/job/request">
                          <i class="fa fa-plus-circle"></i>
                          Requests
                        </a>
                    </li>
                    <li class="dropdown menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                          <i class="fa fa-users"></i>
                          Account
                          <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/dashboard/account/management">Management</a>
                            </li>
                            <li>
                                <a href="#/dashboard/account/create">Create New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#/dashboard/criteria">
                          <i class="fa fa-pencil-square"></i>
                          Criteria
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown noti">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="fa fa-lg fa-bell"></span>
                        <span ng-show="listNotis.length" class="number">{{listNotis.length}}</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><h3 class="dropdown-title">Notification</h3></li>
                        <li ng-repeat="noti in listNotis">
                          <a ng-href="{{noti.url}}"><i class="fa fa-info-circle fa-fw"></i>{{noti.title}}</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle user-toggle" data-toggle="dropdown" role="button">
                          <span class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle"></i>
                            <i class="fa fa-stack-1x fa-user fa-inverse"></i>
                          </span>
                          {{username}}
                          <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                              <a href="#/dashboard/profile">
                                <i class="fa fa-pencil-square"></i>
                                Profile
                              </a>
                            </li>
                            <li>
                              <a href="#" ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Sign Out
                              </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>

<div ui-view></div>