<div class="job box-hover" ng-repeat="job in jobs">
    <div class="row">
        <div class="logo hidden-xs col-sm-2 col-md-2">
            <a ng-href="#/agency/{{job.agency.id}}" class="image">
                <img ng-src="{{job.agency.url_logo}}" alt="{{job.agency.name}}"/>
            </a>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <div class="row">
                <div class="col-sm-12 col-md-10">
                    <h2 class="box-title">
                        <span ng-if="job.status === 1">{{job.title}}</span>
                        <a ng-if="job.status !== 1" ng-href="#/job/{{job.id}}">{{job.title}}</a>
                        <label ng-if="job.status === 1" class="label label-danger">
                            CLOSED
                        </label>
                    </h2>

<!--                    <div class="employer">
                        <a ng-href="#/agency/info/{{job.agency.id}}">{{job.agency.name}}</a>
                    </div>-->

                    <div class="salary">
                        <span>Salary:</span>
                        <span class="value">{{job.salary}}</span>
                    </div>

                    <div class="description">
                        {{job.full_desc | htmlToPlainText}}
                    </div>
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="location">
                        <p>{{job.location.city.name}} <br/>{{job.location.district.name}}</p>
                    </div>
                    <div class="status" ng-show="job.apply_status">
                        <label ng-class="{'label-info': job.apply_status == 'PENDING', 'label-success': job.apply_status == 'APPROVED', 'label-warning': job.apply_status=='DENIED'}"
                            class="label">{{job.apply_status}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="tag-line col-sm-12">
                    <ul>
                        <li ng-repeat="tagJob in job.tags">
                            <a ui-sref="app.home.search({tags: tagJob})" class="label label-info">{{tagJob}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    <div class="num-registered-back" ng-show="job.apply_num != undefined">
    </div>
    <span class="num-registered">
        {{job.apply_num}}
    </span>

</div>

