<div class="job box-hover" ng-repeat="job in jobs">
    <div class="row">
        <div class="logo hidden-xs col-sm-2 col-md-2">
            <a ng-href="#/agency/info/{{job.agency.id}}" class="image">
                <img ng-src="{{job.agency.url_logo}}" alt="{{job.agency.name}}"/>
            </a>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <div class="row">
                <div class="col-sm-12 col-md-10">
                    <h2 class="box-title">
                        <a ng-href="#/job/{{job.id}}">{{job.title}}</a>
                    </h2>

                    <div class="employer">
                        <a ng-href="#/agency/info/{{job.agency.id}}">{{job.agency.name}}</a>
                    </div>

                    <div class="salary">
                        <span>Salary:</span>
                        <span class="value">{{job.salary}}</span>
                    </div>

                    <div class="description">
                        {{job.full_desc | htmlToPlainText | subStringByWord: 30}}...
                    </div>
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="location">
                        <p>{{job.location.city.name}} <br/>{{job.location.district.name}}</p>
                    </div>
                    <div class="status"
                         ng-class="{'pending': job.status == 'Pending', 'accepted': job.status == 'Accepted'}">
                        <label class="label label-success">{{job.status}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="tag-line col-sm-12 col-sm-offset-2">
            <ul>
                <li ng-repeat="tagJob in job.tags">
                    <a ui-sref="app.home.search({tags: tagJob})" class="label label-info">{{tagJob}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="num-registered" ng-show="job.apply_num != undefined">
        <span ng-style="{'left': job.apply_num.toString().length == 2 ? '35px' : '42px'}">
            {{job.apply_num}}
        </span>
    </div>
</div>

