<div class="job" ng-repeat="job in jobs">
    <div class="row">
        <div class="logo col-sm-2 col-md-2">
            <a ng-href="agency/info/{{job.agency.id}}" class="image">
                <img ng-src="{{job.agency.urlLogo}}" alt="{{job.agency.name}}"/>
            </a>
        </div>
        <div class="content col-sm-10 col-md-10">
            <div class="row">
                <div class="col-sm-8 col-md-10">
                    <h2 class="title">
                        <a ng-href="jobs/{{job.id}}">{{job.title}}</a>
                    </h2>

                    <div class="employer">
                        <a ng-href="agency/info/{{job.agency.id}}">{{job.agency.name}}</a>
                    </div>

                    <div class="salary">
                        <span>Salary:</span>
                        <span class="value">{{job.salary}}</span>
                    </div>

                    <div class="description">
                        {{job.description}}
                    </div>
                </div>

                <div class="col-sm-4 col-md-2">
                    <div class="location">
                        <p>{{job.location}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="tag-line col-sm-offset-2">
            <ul>
                <li ng-repeat="tagJob in job.tags">
                    <a ng-href="search/{{tagJob}}" class="label label-info">{{tagJob}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>

