<!-- NAVIGATION -->

<div id="header" class="header">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#/home">B-Kareer</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#/new-jobs/job"><span class="glyphicon glyphicon-briefcase"></span> Jobs</a></li>
                    <li><a href="#/new-jobs/internship"><span class="glyphicon glyphicon-send"></span> Internship</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span> </a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span> Dashboard
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/dashboard/criteria">Criteria</a></li>
                        </ul>
                    </li>
                    <li><a style="cursor: pointer;" class="logout" ng-click="logout()" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>

<div ui-view></div>
