<div class="row">
    <div class="col-xs-12">
        <h1 class="title">Jobs Posted</h1>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <tabset nav-type="nav-pills">
            <tab heading="Jobs Info">

            </tab>
            <tab heading="Create Job">
                <view-create-job items="tags" 
                         locations="locations"
                         on-submit="submit(data)"></view-create-job>
            </tab>
        </tabset>
        
    </div>
    
</div>


