<div class="search-form row">
    <form>
        <div class="form-group col-md-6 col-sm-6">
            <label class="form-control-label">Keywords</label>
            <search-bar tags="searchBarData.tags"
                        placeholder="{{searchBarData.placeholder}}"
                        items="searchBarData.items"
                        text="searchBarData.text" ,
                        hide-popup-on-escape="{{true}}">

            </search-bar>
        </div>
        <div class="city-section form-group col-sm-6 col-md-2">
            <label>City</label>
            <select ng-model="selectedCity" ng-change="selectedDist=selectedCity.districts[0]"
                    ng-options="opt.name for opt in cities"
                    class="form-control">
            </select>
        </div>
        <div class="district-section form-group col-sm-6 col-md-2">
            <label>District</label>
            <select ng-model="selectedDist"
                    ng-options="dist.name for dist in selectedCity.districts"
                    class="form-control">

            </select>
        </div>
        <div class="button-search col-sm-12 col-md-2">
            <label style="visibility: hidden">&nbsp;</label>
            <input class="btn btn-lg btn-block btn-success" ng-click="search()" value="Search">
        </div>
    </form>

</div>
<div class="key-words row">
    <span>Popular keywords: </span>

    <div class="tag-line">
        <ul>
            <li><a ui-sref="app.home.search({tags: 'PHP'})" class="label label-success">PHP</a></li>
            <li><a ui-sref="app.home.search({tags: 'MySQL'})" class="label label-success">MySQL</a></li>
            <li><a ui-sref="app.home.search({tags: 'iOS'})" class="label label-success">iOS</a></li>
            <li><a ui-sref="app.home.search({tags: 'Java'})" class="label label-success">Java</a></li>
            <li><a ui-sref="app.home.search({tags: 'C++'})" class="label label-success">C++</a></li>
            <li><a ui-sref="app.home.search({tags: 'JavaScript'})" class="label label-success">Javascript</a></li>
        </ul>
    </div>
</div>