<div class="panel">
    <div class="panel-heading">
        <h3>Create New Job</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-10 col-md-offset-1">
            <p style="color: red;">All the fields below are required</p>
        </div>

        <form class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2" for="title">Title:</label>
                <div class="col-xs-12 col-md-10">
                    <input id="title" type="text" ng-model="jobModel.title" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">Description:</label>
                <div class="col-xs-12 col-md-10">
                    <summernote ng-model="jobModel.desc" config="options"></summernote>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">Requirement:</label>
                <div class="col-xs-12 col-md-10">
                    <summernote ng-model="jobModel.requirement" config="options"></summernote>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">Benefits:</label>
                <div class="col-xs-12 col-md-10">
                    <summernote ng-model="jobModel.benifits" config="options"></summernote>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2" for="salary">Salary:</label>
                <div class="col-xs-12 col-md-4">
                    <input id="salary" placeholder="1000 USD" type="text" ng-model="jobModel.salary" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2" for="address">Address:</label>
                <div class="col-xs-12 col-md-10">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="city">City:</label>
                            <select ng-model="jobModel.city"
                                    ng-change="district = jobModel.city.districts[0]"
                                    class="form-control"
                                    ng-options="loca.name for loca in locations"
                                    id="city">
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="district">District:</label>
                            <select ng-model="jobModel.district"
                                    class="form-control"
                                    ng-options="dist.name for dist in jobModel.city.districts"
                                    id="district">
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label for="address">Street:</label>
                            <input placeholder="01 Bach Dang" type="text" ng-model="jobModel.address" id="address" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2" for="expire">Expire date:</label>
                <div class="col-xs-12 col-md-4">
                    <datepicker class="clearfix" date-min-limit="{{currentDate}}" date-format="yyyy/MM/dd" datepicker-show="isShow" datepicker-toggle="">
                        <input style="display: initial; width: 150px; border-right: 1px transparent solid;" id="expire" type="text" ng-model="jobModel.expire" class="form-control"/>
                        <span style="margin-left: -4px;">
                            <button ng-init="isShow=false" ng-click="isShow = !isShow" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                        <div class="alert alert-danger" ng-show="error">{{error}}</div>
                    </datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-2">Technical tags:</label>
                <search-bar tags="jobModel.tags"
                            placeholder="{{'eg. PHP'}}",
                            text="currentInput",
                            items="items",
                            hide-popup-on-escape="{{true}}"
                            class="col-sm-6 col-md-6"></search-bar>
            </div>

        </form>
    </div>
</div>