<!-- NAVIGATION -->

<div id="header">
    <nav class="navbar navbar-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#">B-Kareer</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown noti">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="fa fa-lg fa-bell"></span>
                        <span class="number">2</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><h3 class="dropdown-title">Thông Báo</h3></li>
                        <li>
                          <a href="#"><i class="fa fa-info-circle fa-fw"></i> Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                        </li>
                        <li>
                          <a href="#">Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                        </li>
                        <li>
                           <a href="#">Cập nhật hồ sơ để nhận việc làm hấp dẫn</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a class="dropdown-toggle user-toggle" data-toggle="dropdown" role="button">
                          <span class="fa-stack">
                            <i class="fa fa-stack-2x fa-circle"></i>
                            <i class="fa fa-stack-1x fa-user fa-inverse"></i>
                          </span>
                          {{username}}
                          <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                              <a href="#/dashboard/job">
                                <i class="fa fa-briefcase"></i>
                                Your Jobs
                              </a>
                            </li>
                            <li>
                              <a href="#/dashboard/preference">
                                <i class="fa fa-heart"></i>
                                Preferences
                              </a>
                            </li>
                            <li>
                              <a href="#/dashboard/profile">
                                <i class="fa fa-pencil-square"></i>
                                Profile
                              </a>
                            </li>
                            <li>
                              <a href="#" ng-click="logout()">
                                <i class="fa fa-fw fa-sign-out"></i>
                                Sign Out
                              </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<div class="dashboard">
    <div sticky id="leftGutter" class="nav-sidebar hidden-xs">
        <ul>
            <li><a ng-click="_tabName='profile'" ng-class="{active: _tabName==='profile'}" href="#/dashboard/profile"><span class="glyphicon glyphicon-list-alt"></span><span>Profile</span></a></li>
            <li><a ng-click="_tabName='preferences'" ng-class="{active: _tabName==='preferences'}" href="#/dashboard/preference"><span class="glyphicon glyphicon-heart"></span><span>Preferences</span></a></li>
            <li><a ng-click="_tabName='job'" ng-class="{active: _tabName==='job'}" href="#/dashboard/job"><span class="glyphicon glyphicon-briefcase"></span><span>Job</span></a></li>
            <li><a ng-click="_tabName='inbox'" ng-class="{active: _tabName==='inbox'}" href="#/dashboard/inbox"><span class="glyphicon glyphicon-send"></span><span>Inbox</span></a></li>
            <li><a ng-click="_tabName='files'" ng-class="{active: _tabName==='files'}" href="#/dashboard/files"><span class="glyphicon glyphicon-file"></span><span>Files</span></a></li>
        </ul>
    </div>
    <div class="content">
        <div class="right-content">
            <div ui-view></div>
        </div>
    </div>
</div>